



/* Ensure no vertical centering */
html, body {
    height: 100%;
    background-color: #062760;

}

/* General Styles */
body {
    margin: 0;
    padding: 0;
    
}

body div img {
    width: auto;      /* Adjust width */
    height: 300px;      /* Keep aspect ratio */
    border: 2px solid #333;  /* Add a border */
    position:center;
    top:100px;
    left:150px;
    right:0;
    bottom:0;
    margin:auto;
}



/* Sidebar Layout (Only for .sidebar-layout pages) */
.sidebar-layout {
    display: flex;
}

.sidebar-layout .sidebar {
    width: 150px;
    background-color: #f5d59c;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-layout .sidebar .social-media {
    text-align: center;
    margin: 20px 0;
}

.sidebar-layout .sidebar .social-media a {
    margin-bottom: 15px;
    display: inline-block;
}

.sidebar-layout .sidebar .social-media img {
    width: 50px;
    height: auto;
}

/* Main Content Wrapper for Sidebar Layout */
.sidebar-layout .content-wrapper {
    flex: 1;
    margin-left: 20px;
}

/* Header Section */
header {
    text-align: center;
    margin-top: 20px;
}

/* Navigation Section */
nav {
    text-align: center;
    margin: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f5d59c;
}

/* Main Content Section */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Center Section Title */
.menu-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

/* Center Paragraph Text */
p {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    color: #f5d59c;
}
li {
    color: #f5d59c;
}
address {
    color: #f5d59c;
}
figcaption {
    color: #f5d59c;
}

/* Center the Social Media Icons */
.social-media {
    text-align: center;
}

.social-media a {
    margin-right: 20px;
    display: inline-block;
}

.social-media img {
    width: 100px;
    height: auto;
}

/* Heading Styles */
h1, h2, h3, h4 {
    font-family: 'Arial', sans-serif;
    color: #f5d59c;
}

h1 {
    font-size: 32px;
    color: #f5d59c;
}

h2 {
    font-size: 28px;
   
}

h3 {
    font-size: 24px;
    color: #f5d59c;
}

h4 {
    font-size: 20px;
    color: #f5d59c;
}

/* Social Media Icons under Content */
.social-media {
    text-align: center;
    margin-top: 20px; /* Adds space above the icons */
}

.social-media a {
    margin-right: 15px; /* Spacing between icons */
    display: inline-block;
}

.social-media img {
    width: 50px; /* Set icon size */
    height: auto;
}

/* Ensure there's some padding at the bottom of the content */
main {
    padding-bottom: 40px; /* Add padding to prevent icons from being too close to the footer */
}


.gallery-container {
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}